  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--
               _
              | |
              | |
           ___|  \____
          |___]
         |____]
          |___]    |___
           |___]__/

           Cool.
        -->
    <title>
      {{ if .Title }}{{ .Title }} | {{ .Site.Params.author }}{{ else }}{{ .Site.Title }}{{ end }}
    </title>
    <meta
      name="description"
      content="{{ with .Summary }}{{ . | plainify | truncate 160 }}{{ else }}{{ $.Site.Params.description }}{{ end }}"
    />
    <link rel="shortcut icon" href="/images/favicon.png" type="image/png" />
    {{ $css := resources.Get "css/main.scss" | toCSS | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $css.RelPermalink }}" integrity="{{ $css.Data.Integrity }}">

    <link
      rel="canonical"
      href="{{ .Permalink }}"
    />
    <link rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}"
    href="{{ "feed.xml" | absURL }}" />
  </head>
