$spacing-unit:   1em;
$content-length: 40em;

img {
    max-width: 100%;
}

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}

p {
    margin-bottom: $spacing-unit;
}

/* Global */
body {
    font-family: "Avenir Next", Verdana, sans-serif;
}

code {
    background-color: antiquewhite;
    display: inline-block;
}

h1, h2, h3, h4, h5 {
    font-weight: normal;
}

main {
	padding: 0 $spacing-unit;
	margin: 0 auto;
}

figure {
    margin: 1em 0;
    padding: 1.5em;
    background-color: #eee;
    clear: both;
    text-align: center;

    figcaption {
        text-align: left;
    }
}

blockquote {
    font-style: italic;
    font-family: Georgia, serif;
}

article {
    clear: both;
}

.content {
	max-width: $content-length;
}

.page-title {
	text-align: center;
}
