$spacing-unit:   1em;
$content-length: 40em;

img {
    max-width: 100%;
}

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}

/* Global */
body {
    font-family: "Avenir Next", Verdana, sans-serif;
}

code {
    background-color: antiquewhite;
    display: inline-block;
}

h1, h2, h3, h4, h5 {
    font-weight: normal;
}

.content {
	max-width: $content-length;
}

.page-title {
	text-align: center;
}