@import 'normalize';
@import 'syntax-highlighting';
@import 'global';
@import 'grid';
@import 'header';
@import 'footer';
@import 'nav';
@import 'about';
@import 'blog';
@import 'work';

main {
	padding:0 $spacing-unit;
	margin:0 auto;
}

#work main,
#misellany main {
	max-width:80em;
}


.work {
	max-width:60em;
	margin:0 auto;
}


.project {
	border-left:1px solid #ccc;
}

.project > p {
	margin-top:0;
}

.technology,
.roles {
	color: #333;
}

.technology span,
.roles span,
.source span {
	font-size:0.9em;
	color:#666;
}

.source {
	margin-bottom:$spacing-unit;
}

@media only screen and (min-width: 40em){
    .images.row {
        padding: 1em 0;
    }

    .images img:hover {
        cursor: pointer;
    }

    .image.col {
        width: 30%;
        border: 8px solid rgba(0,0,0,.6);
        margin-right: 1em;
        margin-bottom: 1em;
        max-height: 9em;
        overflow: hidden;

        &:first-child,
        &:nth-child(4n) {
            margin-left: 1em;
        }

        &:last-child {
            margin-right: 0;
        }

        &:nth-child(4n) {
            clear: left;
        }
    }
}
