---
section: work
layout: default
title: "Work"
---
<header>
	<h1 class="page-title">Work</h1>
</header>
<article>
	<section class="experience">
        <header>
            <h1 id="design-and-development">Design &amp; Development</h1>
        </header>
	{% for org in site.data.work %}
		<div class="org-info">
			<h2 class="">
				{% if org.logo %}
				<!--<img src="{{ org.logo }}" alt="" class="logo" />-->{{ org.name }}
				{% else %}
					{{ org.name }}
				{% endif %}
			</h2>
			<p class="content">
				{{ org.desc }}
			</p>
		</div>
		{% for project in org.projects %}
			<div class="project">
				<div class="row">
					<h3 class="col">{{ project.name }}</h3>
				</div>
				<div class="project-details row">
					<div class="work col">
						<div class="content">
							<p>
								{{ project.desc }}
							</p>
							<div class="technology">
								<span>Technologies:</span>
								{{ project.technologies | join: ", " }}
							</div>
							<div class="roles">
								<span>Roles:</span>
								{{ project.roles | join: ", " }}
							</div>
							{% if project.source_url.size > 0 %}
							<div class="source">
								<span>Source:</span>
								<a href="{{ project.source_url}}">{{ project.source_url}}</a>
							</div>
							{% endif %}
						</div>
					</div>
				</div>
                {% if project.images.size > 0 %}
                <div class="images row">
                    {% for image in project.images %}
                        <div class="image col">
                            <a href="{{ image.src }}" class="image-link">{{ image.alt }}</a>
                        </div>
                    {% endfor %}
                </div>
                {% endif %}
			</div>
		{% endfor %}
	{% endfor %}
	</section>
    {% comment %}
    <section>
        <header>
            <h1 id="ux-research">UX Research</h1>
        </header>
    </section>
	<section class="experience row">
        <div class="project col">
            <h2>IBM Digital Marketplace Usability Evaluation</h2>
            <ul>
				<li>Client: IBM Digital Marketplace</li>
				<li>Website: <a href="https://www.ibm.com/marketplace/cloud/us/en-us">ibm.com/marketplace/cloud/us/en-us</a></li>
				<li>Methods: Think-aloud protocol, questionnaires, 5-second test</li>
				<li>Tools: Quicktime, paper questionnaires</li>
				<li>Number of participants: 25</li>
            </ul>
            <p>
                5-second test of home page, created moderator guide, trained others to moderate tests and moderated
                some tests myself, ad-hoc formative analysis
            </p>
        </div>
        <div class="project col">
            <h2>Change Blindness Research</h2>
            <p>
                My Master's paper
            </p>
        </div>
		<div class="project col">
			<h2>Academic Advising Website Usability Evaluation</h2>
			<ul>
				<li>Client: UNC Academic Advising</li>
				<li>Website: <a href="http://advising.unc.edu">advising.unc.edu</a></strong></li>
				<li>Methods: Think-aloud protocol, questionnaires</li>
				<li>Tools: Camtasia, Qualtrics</li>
				<li>Number of participants: 10</li>
			</ul>
			<p>
				I conducted a usability evaluation of the UNC Academic Advising website as a member of a 4-person team.
			</p>
		</div>
		<div class="project col">
			<h2>Lifetime Library Usability Evaluation</h2>
			<ul>
				<li>Client: UNC Lifetime Library</li>
				<li>Website: <a href="https://lifetime-library.ils.unc.edu/">lifetime-library.ils.unc.edu</a></li>
				<li>Methods: Think-aloud protocol, questionnaires</li>
				<li>Tools: Quicktime, Google Forms</li>
				<li>Number of participants: 4</li>
			</ul>
			<p>
				I conducted a usability evaluation of the UNC Lifetime Library website as a member of a 4-person team.
			</p>
		</div>
	</section>
    {% endcomment %}
</article>
